<!--
SPDX-FileCopyrightText: 2021 Eric Neidhardt
SPDX-License-Identifier: MIT
-->
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.neidhardt.rxlocationservices">

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
</manifest>